asgiref==3.10.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
cloudinary==1.44.1
cryptography==46.0.2
defusedxml==0.7.1
dj-database-url==3.0.1
Django==5.2.7
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-filter==24.2
django-jazzmin==3.0.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
ecdsa==0.19.1
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-api-python-client==2.108.0
gunicorn==21.2.0
httplib2==0.31.0
idna==3.11
oauthlib==3.3.1
Pillow==10.4.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.23
PyJWT==2.10.1
python-decouple==3.8
python-jose==3.5.0
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
whitenoise==6.6.0